@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success!</h2>

<h3>Answer is successfully sent!</h3>
<br />
@Html.ActionLink("Back to the Blackboard", "Blackboard", "Home")

